html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body *{
	transition: 0.3s;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:220px;
	height: 220px;
	border-radius: 70%;
	margin-left: auto;
  	margin-right: auto;
}

.s1{
	background-color: #F8F8F8;
	border-bottom:1px solid #c1c1c1;
	overflow:auto;
}

.s2{
	background-color: white;
	border-bottom:1px solid #c1c1c1;
	overflow:auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}

